.comments-form {
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  padding: 2.5rem;
  border-radius: 4px;
  margin-top: 50px;
}

.create-comment-header {
  margin-bottom: 30px;
}

.create-comment-icon {
  margin-right: 10px;
}

.comments-form button {
  margin-top: 20px;
}