<div class="comments-form">
  <h4 class="create-comment-header"><span class="create-comment-icon fas fa-pencil-alt"></span>Leave a comment</h4>
  <form [formGroup]="commentForm" (ngSubmit)="createCommentOfPost()">
    <div class="form-group">
      <textarea [froalaEditor]="options" formControlName="comment" class="form-control" rows="3"
        [class.is-valid]="this.commentForm.controls['comment'].valid && this.commentForm.controls['comment'].touched"
        [class.is-invalid]="this.commentForm.controls['comment'].invalid && this.commentForm.controls['comment'].touched"
      ></textarea>
      <div class="invalid-feedback"
      *ngIf="this.commentForm.controls['comment'].invalid && this.commentForm.controls['comment'].touched"
      >
        <small *ngIf="this.commentForm.controls['comment'].errors.required">Comment is required!</small>
        <small *ngIf="this.commentForm.controls['comment'].errors.minlength">Comment must be at least 3 characters long!</small>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="this.commentForm.invalid">Submit</button>
  </form>
</div>
