.post {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  padding: 20px 30px;
  margin-bottom: 15px;
  position: relative;
}

.post-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.post-title-link {
  color: #212529;
  text-decoration: none;
}

.post-title-link:hover {
  color: #47db00;
}

.post-content {
  margin: 20px 0;
}

.post-details {
  margin-top: 10px;
  font-size: 0.9rem;
}

.post-author-link {
  color: #28a745;
}

.post-author {
  margin-right: 25px;
}

.user-icon, .date-icon {
  margin-right: 6px;
  font-size: 90%;
}