<div class="post">
  <a class="post-title-link" [routerLink]="['/posts', post.id]">
    <h4 class="post-title">{{post.title}}</h4>
  </a>
  <div class="post-content" *ngIf="showContent" [froalaView]="post.content"></div>
  <div class="post-details">
    <span class="post-author">
      <a class="post-author-link" [routerLink]="['/users', post.userID]">
        <span class="user-icon far fa-user"></span>{{post.user}}</a>
    </span>
    <span class="post-created" ngbTooltip="{{post.touchDateColumn | date:'medium'}}">
        <i class="date-icon far fa-calendar-alt"></i>{{post.touchDateColumn | timeAgo}}
    </span>
    <app-edit-delete
      [applyTo]="'posts'"
      [item]="post"
      (updatedItem)="updateItem($event)"
      (deletedItem)="deleteItem()"
      *ngIf="post.user === loggedInUser"
    ></app-edit-delete>
  </div>
  <app-likes-dislikes
    [itemLikes]="post.postLikes"
    [itemDislikes]="post.postDislikes"
    (liked)="itemLike()"
    (disliked)="itemDislike()"
  ></app-likes-dislikes>
</div>