<app-breadcrumbs-search [showCreatePostButton]="true"></app-breadcrumbs-search>
<section id="user-profile">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="profile-fb-container">
          <div class="profile-left">
            <div class="profile-image">
              <img src="../../../assets/user-image.jpg" class="card-img-top" alt="User Image">
            </div>
            <div class="profile-username">
              <h4>{{user.username}}</h4>
            </div>
            <div class="profile-user-role">
              <span>Moderator</span>
            </div>
          </div>
          <div class="profile-right">
            <div class="profile-name">
              <h3>{{user.firstName}} {{user.lastName}}</h3>
            </div>
            <div class="profile-details">
              <span class="registered">Registered on - {{user.createdOn | date}}</span>
              <span class="separator">/</span>
              <span class="email">Email - {{user.email}}</span>
            </div>
            <div *ngIf="this.showAddRemoveFriendButtons">
              <div class="profile-add-friend" *ngIf="!this.isFried">
                <button class="btn btn-success" type="button" (click)="addFriend()">Add as a friend</button>
              </div>
              <div class="profile-add-friend" *ngIf="this.isFried">
                <button class="btn btn-danger" type="button" (click)="removeFriend()">Unfriend</button>
              </div>
            </div>
            
            <div class="profile-more-about">
              <h5>More About Me:</h5>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
          </div>
        </div>

        <div class="profile-tabs-container">
          <ngb-tabset [justify]="currentJustify" class="user-tabs">
            <ngb-tab title="Posts">
              <ng-template ngbTabContent>
                <div class="no-posts" *ngIf="this.data.length === 0">This user has not created any posts yet.</div>
                <app-post-view
                  *ngFor="let post of data"
                  [post]="post"
                  [loggedInUser]="loggedInUser"
                  (liked)="itemLike($event)"
                  (disliked)="itemDislike($event)"
                  (updatedItem)="updateItem($event)"
                  (deletedItem)="deleteItem($event)"
                ></app-post-view>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Comments">
              <ng-template ngbTabContent>
                <div class="no-comments" *ngIf="this.comments.length === 0">This user has not written any comments yet.</div>
                <app-post-comments
                *ngFor="let comment of this.comments" 
                [comment]="comment"
                [loggedInUser]="loggedInUser"
                (liked)="commentLike($event)"
                (disliked)="commentDislike($event)"
                (updatedItem)="updateComment($event)"
                (deletedItem)="deleteComment($event)"
              ></app-post-comments>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Friends">
              <ng-template ngbTabContent>
                <div class="no-friends" *ngIf="this.friends.length === 0">This user does not have any friends yet.</div>
                <section id="users">
                  <div class="container">
                    <div class="row custom-row">
                      <div class="col-md-4" *ngFor="let friend of friends">
                        <app-users-view [user]="friend"></app-users-view>
                      </div>
                    </div>
                  </div>
                </section>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
</section>