<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <span>Copyright 2019 Telerik Academy. All rights reserved.</span>
      </div>
      <div class="col-sm-3 text-right">
        <a class="top-link" (click)="toTop()">Back to top<span class="top-arrow fas fa-arrow-up"></span></a>
      </div>
    </div>
  </div>
</footer>