header {
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.navbar {
  padding-left: 0;
  padding-right: 0;
}

.navbar-nav.mr-auto {
  margin: 0 auto !important;
}

.navbar-brand {
  margin: 0;
}

.logo {
  width: 170px;
  margin: 5px 0;
}

@media (max-width: 575.98px) {
  .logo {
    width: 80%;
  }
}

.username {
  position: relative;
  top: 2px;
  margin-right: 15px;
}

header .username-link {
  color: #28a745;
  cursor: pointer;
}

header .username-link:hover {
  text-decoration: underline;
}

.user-icon {
  margin-right: 6px;
  font-size: 90%;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #47db00;
}