<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light" *ngIf="!isLogged">
      <a class="navbar-brand" [routerLink]="['/home']">
        <img class="logo" src="../../../assets/logo.png" alt="Telerik Academy Logo">
      </a>

      <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
    
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/home']">Home</a>
          </li>
    
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/login']">Login</a>
          </li>
    
          <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/register']">Register</a>
          </li>
    
        </ul>

        <a href="https://www.telerikacademy.com/alpha" target="_blank">
          <button class="btn btn-success" type="button">Learn More</button>
        </a>
      </div>
    </nav>


    <nav class="navbar navbar-expand-lg navbar-light" *ngIf="isLogged">
      <a class="navbar-brand" [routerLink]="['/posts']">
        <img class="logo" src="../../../assets/logo.png" alt="Telerik Academy Logo">
      </a>

      <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
    
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/posts']">Posts</a>
          </li>
    
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/users']">Users</a>
          </li>
    
        </ul>
    
        <div class="username-logout">
          <a class="username-link" (click)="onName()">
            <span class="username"><span class="user-icon far fa-user"></span>{{loggedInUser}}</span>
          </a>
          <button class="btn btn-outline-success" type="button" (click)="onLogout()">Logout</button>
        </div>
      </div>
    </nav>
  </div>
</header>