<div class="comment">
    <div class="comment-message" [froalaView]="comment.message"></div>
    <div class="comment-details">
      <span class="comment-author">
        <a class="comment-author-link" [routerLink]="['/users', comment.userID]">
          <span class="user-icon far fa-user"></span>{{comment.user}}</a>
      </span>
      <span class="comment-created" ngbTooltip="{{comment.createdOn | date:'medium'}}">
          <i class="date-icon far fa-calendar-alt"></i>{{comment.createdOn | timeAgo}}
      </span>
      <app-edit-delete
        [applyTo]="'comments'"
        [item]="comment"
        (updatedItem)="updateItem($event)"
        (deletedItem)="deleteItem()"
        *ngIf="comment.user === loggedInUser"
      ></app-edit-delete>
    </div>
    <app-likes-dislikes
      [itemLikes]="comment.commentLikes"
      [itemDislikes]="comment.commentDislikes"
      (liked)="itemLike()"
      (disliked)="itemDislike()"
    ></app-likes-dislikes>
  </div>