<app-breadcrumbs-search [showCreatePostButton]="false"></app-breadcrumbs-search>
<section id="create-post">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="create-post-form">
            <h4 class="create-post-header"><span class="create-post-icon fas fa-pencil-alt"></span> Create a post</h4>
            <form [formGroup]="createPostForm" (ngSubmit)="createPost()">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Post Title" formControlName="title"
                  [class.is-valid]="this.createPostForm.controls['title'].valid && this.createPostForm.controls['title'].touched"
                  [class.is-invalid]="this.createPostForm.controls['title'].invalid && this.createPostForm.controls['title'].touched"
                >
                <div class="invalid-feedback"
                  *ngIf="this.createPostForm.controls['title'].invalid && this.createPostForm.controls['title'].touched"
                >
                  <small *ngIf="this.createPostForm.controls['title'].errors.required">Title is required!</small>
                  <small *ngIf="this.createPostForm.controls['title'].errors.minlength">Title must be at least 3 characters long!</small>
                </div>
              </div>
              <div class="form-group">
                <textarea [froalaEditor]="options" class="form-control" rows="15" placeholder="Write your post here..." formControlName="content"
                  [class.is-valid]="this.createPostForm.controls['content'].valid && this.createPostForm.controls['content'].touched"
                  [class.is-invalid]="this.createPostForm.controls['content'].invalid && this.createPostForm.controls['content'].touched"
                ></textarea>
                <div class="invalid-feedback"
                  *ngIf="this.createPostForm.controls['content'].invalid && this.createPostForm.controls['content'].touched"
                >
                  <small *ngIf="this.createPostForm.controls['content'].errors.required">Content is required!</small>
                  <small *ngIf="this.createPostForm.controls['content'].errors.minlength">Content must be at least 3 characters long!</small>
                </div>
              </div>
              <button type="submit" class="btn btn-primary" [disabled]="this.createPostForm.invalid">Create Post</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>