<section id="home">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="centered-box text-center">
          <h3>Welcome to Telerik Academy Alpha!</h3>
          <p class="home-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean placerat egestas mi, nec iaculis dolor bibendum iaculis. Duis ornare aliquet massa nec pretium. Vestibulum at mollis arcu. Duis pharetra eu neque a hendrerit. Aliquam quis pulvinar tortor. Cras a tellus sed sem ultrices tempus. Sed ut tellus enim.</p>
          <div class="home-buttons-container">
              <button type="button" class="btn btn-primary btn-login" [routerLink]="['/login']">Login</button>
              <button type="button" class="btn btn-success btn-register" [routerLink]="['/register']">Register</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
