.pagination-top {
  margin-bottom: 25px;
}

.pagination-bottom {
  margin-top: 10px;
}

.pagination-container {
  display: inline-block;
}

.custom-row {
  margin: 0;
  padding: 10px;
  background: #e9e9e9;
  border-radius: 4px;
}

.pagination-viewing {
  font-size: 14px;
}

@media (max-width: 767.98px) {
  .text-right {
    text-align: left !important;
  }
}

.pagination-disabled {
  opacity: 0.25;
  pointer-events: none;
}