<app-breadcrumbs-search [showCreatePostButton]="true" [showSearch]="true"></app-breadcrumbs-search>
<app-pagination
  [placement]="'top'"
  [viewing]="viewing"
  [through]="through"
  [page]="paginationPage"
  [pageSize]="pageSize"
  [collectionSize]="paginationCollectionSize"
  [paginationDisabled]="paginationDisabled"
  (newPage)="onPaginationChange($event)"
></app-pagination>
<section id="posts">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <app-post-view
          *ngFor="let post of data"
          [post]="post"
          [loggedInUser]="loggedInUser"
          (liked)="itemLike($event)"
          (disliked)="itemDislike($event)"
          (updatedItem)="updateItem($event)"
          (deletedItem)="deleteItem($event)"
        ></app-post-view>
      </div>
    </div>
  </div>
</section>
<app-pagination
  [placement]="'bottom'"
  [viewing]="viewing"
  [through]="through"
  [page]="paginationPage"
  [pageSize]="pageSize"
  [collectionSize]="paginationCollectionSize"
  [paginationDisabled]="paginationDisabled"
  (newPage)="onPaginationChange($event)"
></app-pagination>