<section id="breadcrumbs">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-6">
        <app-create-post-button *ngIf="showCreatePostButton"></app-create-post-button>
      </div>
      <div class="col-sm-6 text-right">
        <app-search-box *ngIf="showSearch"></app-search-box>
      </div>
    </div>
  </div>
</section>