<div class="card">
  <div class="card-image-container">
    <img src="../../../assets/user-image.jpg" class="card-img-top" alt="User Image">
  </div>
  <div class="card-body">
    <a class="user-title-link" [routerLink]="['/users', this.user.id]">
      <h4 class="card-title">{{user.firstName}} {{user.lastName}}</h4>
    </a>
    <ul>
      <li><span class="info-name">Username:</span> {{user.username}}</li>
      <li><span class="info-name">Email:</span> {{user.email}}</li>
      <li><span class="info-name">Registered On:</span> {{user.createdOn | date}}</li>
    </ul>
    <a class="btn btn-primary" [routerLink]="['/users', this.user.id]">Go to profile</a>
  </div>
</div>