/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Muli', sans-serif;
  background-color: #f6f6f6;
}

a {
  transition: color 0.2s;
}

.centered-box {
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  width: 30rem;
  margin: 0 auto;
  margin-top: 60px;
  padding: 3.5rem;
  border-radius: 4px;
}

@media (max-width: 767.98px) {
  .centered-box {
    width: 22rem;
    padding: 2.5rem;
  }
}

@media (max-width: 575.98px) {
  .centered-box {
    width: 100%;
    padding: 2.5rem;
  }
}

.form-control {
  padding: 0.9375rem 1.25rem;
  height: calc(1.5em + .75rem + 8px);
}

.modal-header {
  padding: 1rem 2rem;
}

.modal-body {
  padding: 2rem;
}

ul.pagination {
  margin: 0;
}

.pagination .page-item .page-link {
  margin: 0 5px;
  padding: 0;
  font-size: 13px;
  text-align: center;
  border:none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  line-height: 32px;
  background: #c4c4c4;
  color: #ffffff;
  transition: all 0.2s;
}

@media (max-width: 767.98px) {
  .pagination .page-item .page-link {
    margin: 0 2px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 10px;
  }
}

.pagination .page-item .page-link:focus {
  box-shadow: none;
}

.pagination .page-item.active .page-link {
  background: #47db00;
}

.pagination .page-item.active .page-link:hover {
  background: #47db00;
}

.pagination .page-item .page-link:hover {
  background: #212529;
}

.modal-dialog .fr-box .fr-toolbar .fr-float-right {
  display: none !important;
}

@media (max-width: 767.98px) {
  .fr-box .fr-toolbar .fr-float-right {
    display: none !important;
  }
}

.tab-content {
  padding: 25px;
}

.nav-tabs {
  border-bottom: 1px solid #e9e9e9;
}

.nav-tabs .nav-item {
  position: relative;
}

.nav-tabs .nav-item:first-child .nav-link {
  border-left: none !important;
}

.nav-tabs .nav-link {
  padding: 20px 25px;
  border: none;
  color: #212529;
  border-left: 1px solid #e9e9e9 !important;
  border-radius: 0;
  transition: background 0.2s;
}

.nav-tabs .nav-link:before {
  border-top: 3px solid transparent;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link:hover {
  border: none;
}

.nav-tabs .nav-link:hover {
  background: #fafafa;
}

.nav-tabs .nav-link.active:hover {
  background: #ffffff;
}

.nav-tabs .nav-link.active:before {
  border-top-color: #47db00;
}

.user-tabs .post, .user-tabs .comment, .user-tabs #users .card {
  border: 1px solid #e9e9e9;
}

.user-tabs .custom-row {
  margin-left: -30px;
  margin-right: -30px;
}